:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  color: black;
  font-size: 64px;
  font-weight: bold;
  line-height: 1.3;
}
p {
  font-family: var(--default-font-family);
  color: black;
  font-size: 16px;
  line-height: 1.7;
  font-weight: normal;
  opacity: 0.7;
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}
.hero h1 {
  font-size: 96px;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}
.hero p {
  font-size: 36px;
  line-height: 1.5;
  font-weight: bold;
  opacity: 1;
}

.content h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
}
.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
}

.work-inquiry {
  background-color: var(--secondary-color);
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 20px;
  padding: 40px 70px;
}
.work-inquiry h2 {
  font-size: 48px;
}

.btn-branding {
  background-color: var(--branding-color);
  border-color: var(--branding-color);
  padding: 15px 30px;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  margin-top: 40px;
}
.btn-branding:hover {
  background-color: var(--branding-color);
  border-color: var(--branding-color);
}
.btn.btn-branding:active {
  background-color: #4d46c7;
  border-color: var(--branding-color);
}

.btn-branding-outline {
  border-color: var(--branding-color);
  padding: 15px 30px;
  color: var(--branding-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  font-family: var(--default-font-family);
}
.btn-branding-outline:hover {
  border-color: var(--branding-color);
}
.btn.btn-branding-outline:active {
  border-color: var(--branding-color);
}
.btn.btn-branding-outline:focus {
  border-color: var(--branding-color);
  outline: 5px solid #c4d5fe;
}

@media (max-width: 912px) {
  .hero h1 {
    font-size: 44px;
    line-height: 1;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero p {
    font-size: 20px;
  }
  .hero {
    padding: 80px 20px;
  }
  .container .project-description,
  .work-inquiry {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .container .project-description h2 {
    font-size: 44px;
  }

  .container .work-inquiry h2 {
    font-size: 36px;
  }
  .btn-branding {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .footer a {
    font-size: 18px;
  }
  .footer .social-media {
    padding-top: 5px;
  }

  .content {
    text-align: center;
  }
  .container .work-inquiry {
    padding: 5px;
  }
  .container .work-inquiry {
    margin-left: 0;
  }
}

.project-description {
  padding-left: 60px;
  padding-right: 60px;
}

.footer {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
}
.social-media {
  width: 40px;
  height: 40px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  margin: 20px;
  padding-top: 3px;
}

.content-container {
  padding: 80px 20px;
}
.content {
  margin: 30px;
}

.work-inquiry-about-section {
  margin-left: 30px;
}
